*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #3B5998;
}
.judul{
    color: white;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-around;
}
.inputan{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    background-color: #ffffffa8;
    width: 30%;
    height: 27vh;
    justify-content: space-around;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    width: 13em;
    height: 1.7em;
    background: #243e75;
    border: none;
    color: white;
}

.tet{
    color: rgba(0, 0, 0, 0.788);
    width: 30%;
    text-align: center;
    border: 1px solid red;
    margin-bottom: 0.5%;
    background-color: rgba(224, 255, 255, 0.911);
}

@media screen and (max-width: 765px) {
    form{
        width: 40%;
        height: 27vh;
    }    
    .tet{
        width: 40%;
    }
}

@media screen and (max-width: 595px) {
    form{
        width: 50%;
        height: 27vh;
    }    
    .tet{
        width: 50%;
    }
}

@media screen and (max-width: 495px) {
    form{
        width: 55%;
        height: 27vh;
    }    
    .tet{
        width: 55%;
    }
}

@media screen and (max-width: 295px) {
    form{
        width: 70%;
        height: 27vh;
    }    
    .tet{
        width: 70%;
    }
}